<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingkate.busfind.mapper.BusStopBeanMapper">
  <resultMap id="BaseResultMap" type="com.kingkate.busfind.bean.BusStopBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="bus_line_id" jdbcType="INTEGER" property="busLineId" />
    <result column="bus_line_name" jdbcType="VARCHAR" property="busLineName" />
    <result column="bus_dir_id" jdbcType="INTEGER" property="busDirId" />
    <result column="bus_dir_name" jdbcType="VARCHAR" property="busDirName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="stop_id" jdbcType="INTEGER" property="stopId" />
    <result column="c_t" jdbcType="TIMESTAMP" property="cT" />
    <result column="u_t" jdbcType="TIMESTAMP" property="uT" />
    <result column="c_u" jdbcType="VARCHAR" property="cU" />
    <result column="u_u" jdbcType="VARCHAR" property="uU" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, province, bus_line_id, bus_line_name, bus_dir_id, bus_dir_name, name, stop_id, 
    c_t, u_t, c_u, u_u, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bus_stop
    where id = #{id,jdbcType=INTEGER} and is_deleted = 0
  </select>
  <select id="selectStop" parameterType="com.kingkate.busfind.bean.BusStopBean" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bus_stop
    where 1=1
      <if test="stopId != null">
        and stop_id = #{stopId,jdbcType=INTEGER}
      </if>
      <if test="busLineId != null">
        and bus_line_id = #{busLineId,jdbcType=INTEGER}
      </if>
      <if test="busDirId != null">
        and bus_dir_id = #{busDirId,jdbcType=INTEGER}
      </if>
      <if test="busLineName != null">
        and bus_line_name = #{busLineName,jdbcType=VARCHAR}
      </if>
      <if test="busDirName != null">
        and bus_dir_name = #{busDirName,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="stopId != null">
        and stop_id = #{stopId,jdbcType=INTEGER}
      </if>
      and is_deleted = 0
      limit 1
  </select>
  
  <select id="selectBusStop" parameterType="com.kingkate.busfind.bean.BusStopBean" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bus_stop
    where 1=1
      <if test="stopId != null">
        and stop_id = #{stopId,jdbcType=INTEGER}
      </if>
      <if test="busLineId != null">
        and bus_line_id = #{busLineId,jdbcType=INTEGER}
      </if>
      <if test="busDirId != null">
        and bus_dir_id = #{busDirId,jdbcType=INTEGER}
      </if>
      <if test="busLineName != null">
        and bus_line_name = #{busLineName,jdbcType=VARCHAR}
      </if>
      <if test="busDirName != null">
        and bus_dir_name = #{busDirName,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="stopId != null">
        and stop_id = #{stopId,jdbcType=INTEGER}
      </if>
      and is_deleted = 0
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_bus_stop
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kingkate.busfind.bean.BusStopBean">
    insert into t_bus_stop (id, province, bus_line_id, 
      bus_line_name, bus_dir_id, bus_dir_name, 
      name, stop_id, c_t, 
      u_t, c_u, u_u, is_deleted
      )
    values (#{id,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, #{busLineId,jdbcType=INTEGER}, 
      #{busLineName,jdbcType=VARCHAR}, #{busDirId,jdbcType=INTEGER}, #{busDirName,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{stopId,jdbcType=INTEGER}, #{cT,jdbcType=TIMESTAMP}, 
      #{uT,jdbcType=TIMESTAMP}, #{cU,jdbcType=VARCHAR}, #{uU,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kingkate.busfind.bean.BusStopBean">
    insert into t_bus_stop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="busLineId != null">
        bus_line_id,
      </if>
      <if test="busLineName != null">
        bus_line_name,
      </if>
      <if test="busDirId != null">
        bus_dir_id,
      </if>
      <if test="busDirName != null">
        bus_dir_name,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="stopId != null">
        stop_id,
      </if>
      <if test="cT != null">
        c_t,
      </if>
      <if test="uT != null">
        u_t,
      </if>
      <if test="cU != null">
        c_u,
      </if>
      <if test="uU != null">
        u_u,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="busLineId != null">
        #{busLineId,jdbcType=INTEGER},
      </if>
      <if test="busLineName != null">
        #{busLineName,jdbcType=VARCHAR},
      </if>
      <if test="busDirId != null">
        #{busDirId,jdbcType=INTEGER},
      </if>
      <if test="busDirName != null">
        #{busDirName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="stopId != null">
        #{stopId,jdbcType=INTEGER},
      </if>
      <if test="cT != null">
        #{cT,jdbcType=TIMESTAMP},
      </if>
      <if test="uT != null">
        #{uT,jdbcType=TIMESTAMP},
      </if>
      <if test="cU != null">
        #{cU,jdbcType=VARCHAR},
      </if>
      <if test="uU != null">
        #{uU,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingkate.busfind.bean.BusStopBean">
    update t_bus_stop
    <set>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="busLineId != null">
        bus_line_id = #{busLineId,jdbcType=INTEGER},
      </if>
      <if test="busLineName != null">
        bus_line_name = #{busLineName,jdbcType=VARCHAR},
      </if>
      <if test="busDirId != null">
        bus_dir_id = #{busDirId,jdbcType=INTEGER},
      </if>
      <if test="busDirName != null">
        bus_dir_name = #{busDirName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="stopId != null">
        stop_id = #{stopId,jdbcType=INTEGER},
      </if>
      <if test="cT != null">
        c_t = #{cT,jdbcType=TIMESTAMP},
      </if>
      <if test="uT != null">
        u_t = #{uT,jdbcType=TIMESTAMP},
      </if>
      <if test="cU != null">
        c_u = #{cU,jdbcType=VARCHAR},
      </if>
      <if test="uU != null">
        u_u = #{uU,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingkate.busfind.bean.BusStopBean">
    update t_bus_stop
    set province = #{province,jdbcType=VARCHAR},
      bus_line_id = #{busLineId,jdbcType=INTEGER},
      bus_line_name = #{busLineName,jdbcType=VARCHAR},
      bus_dir_id = #{busDirId,jdbcType=INTEGER},
      bus_dir_name = #{busDirName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      stop_id = #{stopId,jdbcType=INTEGER},
      c_t = #{cT,jdbcType=TIMESTAMP},
      u_t = #{uT,jdbcType=TIMESTAMP},
      c_u = #{cU,jdbcType=VARCHAR},
      u_u = #{uU,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>